//Grid layout - Q4 2014
.ViewCtrl {

	font-family:"franklin-gothic-urw";

	$row-height: 95px;

	//this attaches to everything in the list view
	padding: 0;

	img{
		width:100%;
	}

	.container{
		width: 100%;
		max-width: inherit;
		padding: 0;
	}
	.navbar {
		display: none;
	}
	.marketing{
		margin-top: 0;
		margin-bottom: 0;
		margin: 0;
	}
	.view-header{
		padding-left: 30px;
	}
	.avatar {
		width: 54px;
		height: auto;
		margin-right: 31px;
	}
	.user-lists{
		margin:0;
		padding:0;
		.user-list {
			padding:0;
			background-color: #f2f2f2;
			height: $row-height;
			text-align: center;
			&:hover{
				background-color: white;
			}
			&.active {
				background-color: black;
				a{
					color:white;
				}
			}
			a{
				height:$row-height;
				font-size: 24px;
				padding:0;
				color: #a6a6a6;
				text-decoration: none;
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				padding-top:31px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	.list{
		li{
			padding:0;
			&:hover{
				section{display: block;}
			}
		}
		img{
			padding:0;
		}
		section{
			display: none;
			height: 100%;
			width:100%;
			//background-color: rgba(0,0,0,0.25);
			text-align: center;
			.artist{
				display: block;
				height: 25%;
				font-size: 300%;
			}
			.title{
				display: block;
				height: 25%;
				font-size: 150%;
			}
			.description{
				display: block;
				height:25%;
			}
			.rdio{
				position: absolute;
				bottom: 20px;
				left:0;
				width:50%;
				img{
					width:50px;
				}
			}
			.spotify{
				position: absolute;
				bottom: 20px;
				width: 50%;
				right: 0;
				img{
					width: 50px;
				}
			}
		}
	}
	#prev-next{
		text-align: center;
		height: $row-height;
		line-height: $row-height;
	}
	.footer-row{
		margin:0;
		width: 100%;
	}
	.footer-item{
		height: $row-height;
		display:table;
		text-align:center;
		color:white;
		text-transform:uppercase;
		a {
			display:table-cell;
			vertical-align: middle;
			color: white;
		}
	}

	.share{
		a {
			color:#A6A6A6;
		}
	}

	.facebook{
		background-color:#39579A;
	}

	.twitter{
		background-color:#009FD3;
	}

	.tumblr{
		background-color:#36465D;
	}

	.credits{
		background-color: blue;
		a {
			color: white;
		}
	}
}