<div class="row marketing">
	<h1 class="view-header"><img data-ng-src="{{ avatar }}" alt="{{title}}" class="img-circle avatar"><span>@{{ alias }}'s Listomania</span></h1>
	<ul class="list-unstyled row user-lists">
		<li data-ng-repeat="list in lists | orderBy:list.date" class="user-list col-sm-{{listClass}}" data-ng-class="{active:isActive('/'+list.key+'/'+list.id)}"><a data-ng-href="{{list.key}}/{{list.id}}">{{list.value}}</a></li>
	</ul>
	<ol class="list list-unstyled">
		<li	data-ng-repeat="item in albums | orderBy:item.order" class="col-sm-3 list-item">
			<img data-ng-src="{{ item.cover }}" class="col-sm-12 list-image">
			<section class="album" style="position:absolute;background-color:{{ item.primaryColor }};color:{{item.secondaryColor}}">
				<span class="artist">{{ item.artist }}</span>
				<span class="title">{{ item.album }}</span>
				<span class="rdio"><a href="{{ item.rdio }}"><img src="http://rdio0img-a.akamaihd.net/user/press/rdio-app-icon.png" alt="rdio"></a></span>
				<span class="spotify"><a href="{{ item.spotify }}"><img src="images/spotify.svg" alt="spotify"></a></span>
			</section>
		</li>
	</ol>
	<button data-ng-click="deleteThisList()" class="btn" data-ng-show="user.alias">Delete This List</button>
	<button data-ng-click="editThisList()" class="btn" data-ng-show="user.alias">Edit This List</button>
</div>
<section id="prev-next">
	<a href="#" class="col-sm-6 previous">Previous List</a>
	<a href="#" class="col-sm-6 next">Next List</a>
</section>
<section class="view-footer">
	<ul class="row list-unstyled footer-row">
		<li class="col-sm-3 footer-item share"><a>Share this list</a></li>
		<li class="col-sm-2 footer-item facebook"><a>Facebook</a></li>
		<li class="col-sm-2 footer-item twitter"><a>Twitter</a></li>
		<li class="col-sm-2 footer-item tumblr"><a>Tumblr</a></li>
		<li class="col-sm-3 footer-item credits"><a>Designed and developed by Brad & Kyle McNally</a></li>
	</ul>
</section>